@charset "utf-8";
body, html {
    width: 100%;
    height: 100%;
}
/**/
.MN_kfImg {
    left: -55px;
}
.MN_khImg {
    right: -55px;
}
.MN_answer, .MN_ask {
    padding: 5px 60px;
}
.MN_answer .MN_kfImg, .MN_ask .MN_khImg {
    width: 40px;
    height: 40px;
    top: 0;
    margin-top: -30px;
    bottom: auto;
}
.MN_kfCtn {
    margin: 2px 0;
    background: #E3E3E3;
}
.MN_khCtn {
    margin: 2px 0;
    background: #F8E9E9;
    border: 1px solid #F8E9E9;
    color: #222;
}
.MN_khTriangle1 {
    border-top: 10px solid transparent;
    border-right: 15px solid #E3E3E3;
    border-bottom: 0 solid transparent;
    right: -10px;
    top: 0;
}
.MN_kfTriangle2 {
    border-left: 10px solid #E3E3E3;
}
.MN_khTriangle2 {
    border-left: 10px solid #E3E3E3;
}
.MN_khTriangle2 {
    border-top: 10px solid transparent;
    border-left: 15px solid #E3E3E3;
    border-bottom: 0 solid transparent;
    right: -10px;
    top: 0;
}
.MN_khTriangle1, .MN_khTriangle2 {
    border-left: 10px solid #F8E9E9;
    display: block;
}
.MN_gusList, .MN_relateList, .FA_star {
    color: #FF636A;
}
.MN_queListIndex {
    color: #FF636A;
}
.MN_kfCtn a {
    color: #FF636A;
}
.MN_yes, .MN_no {
    font-size: 0;
    width: 20px;
}
.MN_yes {
    background: url(../images/yes.png) no-repeat center;
    background-size: contain;
}
.MN_no {
    background: url(../images/no.png) no-repeat center;
    background-size: contain;
}
.MN_commentBtn {
    background: #FF636A;
}
.MN_reasonItem {
    color: #FF636A;
}
.MN_reasonSend {
    background: #FF636A;
}
/**/
.view {
    width: 1rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.back {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #D6D6D6;
}
.back p {
    color: #eee;
}
.back .logo {
    max-width: 1rem;
    max-height: 80px;
}

/**/
.front {
    height: 100%;
    position: relative;
    
}
.front .chatScroll {
    position: relative;
    overflow: hidden;
    
}
.front .chatScroll .chatCtn {
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;    
    background: #F8F8F8;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

/**/
.editCtn {
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.editCtn .editShow {
    position: relative;
    height: 0.4rem;
    border-top: 1px solid #e6e6e6;
}
.editCtn .editShow:after {
    content: '';
    display: block;
    clear: both;
}
.editCtn .editShow .cosSome {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    /*position: relative;*/
    text-align: center;
    vertical-align: middle;
}
.editCtn .editShow .cosStyle {
    width: 15%;
    margin-top: 0.02rem;
}
.editCtn .editShow .cosStyle .goVideo {
    display: none;
    width: 0.075rem;
    height: 0.075rem;
    background: url(../images/voice@2x.png) no-repeat center;
    background-size: contain;

}
.editCtn .editShow .cosStyle .goinput {
    display: inline-block;
    width: 0.09rem;
    height: 0.09rem;
    background: url(../images/keyboard@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editShow .cosInput {
    width: 85%;
    padding-top: 0.15rem;
    
}
.editCtn .editShow .cosInput .textareaCtn {
    margin-left: 0.08rem;
}
.editCtn .editShow .cosInput .textareaCtn .textarea {
    float: left;
    width: 92%;
    height: 0.09rem;
    resize: none;
    outline: none;
    box-sizing: border-box;
    padding: 0.03rem 0.027rem;
    padding-right: 0.06rem;
    overflow: hidden;
    border: none;
    border-radius: 0;
    font-size: 10px;
}
.editCtn .editShow .cosInput .textareaCtn .faceBtn {
    position: absolute;
    top: 0.02rem;
    left: 0.05rem;
    display: inline-block;
    width: 0.2rem;
    height: 0.1rem;
    background: url(../images/expression@2x.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
}
.editCtn .editShow .cosInput .textareaCtn .faceBtn_focus {
    background: url(../images/expression_click@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editShow .cosInput .inputBtn {
    display: none;
    width: 100%;
    height: 0.093rem;
    line-height: 0.083rem;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}
.editCtn .editShow .cosBtn {
    width: 15%;
    margin-top: 0.16rem;
}

.editCtn .editShow .cosBtn .addbtn{
    display: inline-block;
    width: 0.09rem;
    height: 0.09rem;
    background: url(../images/add@2x.png) no-repeat center;
    background-size: contain;
}

.editCtn .editShow .cosBtn .sendBtn {
    display: inline-block;
    display: block;
    width: 100%;
    height: 0.07rem;
    line-height: 0.07rem;
    background: #FF636A;
    color: #fff;
    border-radius: 3px;
    margin-left:-10px;
}
.editCtn .editShow .feedback{
    background: url(../images/advice@2x.png) no-repeat center;
    background-size: contain;
    width: 0.2rem;
    height: 0.1rem;
    position: absolute;
    top: 0.02rem;
    left: 0.2rem;
    cursor: pointer;
}
.editCtn .editHide {
    display: none;
    position: relative;
    height: 0.573rem;
    padding: 0 0.05rem;
    box-sizing: border-box;
}
.editCtn .editHide .editCtn_com {
    float: left;
    text-align: center;
    width: 20%;
    height: 100%;
    overflow: hidden;
}
.editCtn .editHide .takePhotoCtn, .editCtn .editHide .sendPicCtn, .editCtn .editHide .leaveMsgCtn, .editCtn .editHide .exchangeCtn, .editCtn .editHide .checkOrderCtn, .editCtn .editHide .ticketCtn {
    display: none;
}
.editCtn .editHide .speakJokeCtn, .editCtn .editHide .checkCloudCtn, .editCtn .editHide .checkOrderCtn {
    width: 33.3%
}
.editCtn .editHide .commonQueCtn, .editCtn .editHide .feedbackCtn {
    width: 50%
}
.editCtn .editHide .editCtn_com span {
    display: inline-block;
    width: 0.12rem;
    height: 0.12rem;
    margin: 0.16rem 0 0.05rem 0;
}
.editCtn .editHide .editCtn_com p {
    white-space: nowrap;
    font-size: 12px;
}
.editCtn .editHide .editCtn_com .takePhoto {
    background: url(../images/camera@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .sendPic {
    background: url(../images/picture@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .speakJoke {
    background: url(../images/speakJoke.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .checkCloud {
    background: url(../images/checkCloud.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .checkOrder {
    background: url(../images/checkOrder.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .commonQue {
    background: url(../images/problems@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .feedback {
    background: url(../images/advice@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .ticket {
    background: url(../images/ticket@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .exchange {
    background: url(../images/exchange@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .leaveMsg {
    background: url(../images/message@2x.png) no-repeat center;
    background-size: contain;
}

.layui-layer-ico {
    background: url(../images/icon.png) no-repeat;
}
.commonQueLayer {
    display: none;
}
.MN_queList {
    padding: 0.024rem 0.032rem;
}
.feedbackLayer {
    display: none;
    padding: 0.024rem 0 0.048rem 0;
}
.MN_marginCtnRadio {
    margin-left: 0.032rem;
    margin-top: 0.032rem;
}
.noSatiCtn {
    padding: 0 0.032rem;
}
.noSatiCtn label {
    padding: 0 0.032rem;
}
.leaveMsgLayer {
    display: none;
    padding: 0.024rem 0 0.048rem 0;
}
.leaveMsgLayer input {
    width: 100%;
    height: 0.107rem;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin: 0.024rem 0;
    padding: 0 0.032rem;
}
.leaveMsgLayer textarea, .feedbackLayer textarea {
    margin: 0.024rem 0;
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 0.02rem 0.032rem;
    height: 0.213rem;
    box-sizing: border-box;
}
.MN_commentBtn {
    width: 0.936rem;
    height: 0.12rem;
    line-height: 0.12rem;
    margin: 0.024rem auto;
}
.layui-layer-title {
    padding: 0 80px 0 0.032rem;
    background: #fff;
}
.layui-layer-setwin {
    right: 0.032rem;
}
.layui-layer-page .layui-layer-content {
    background: #f8f8f8;
}

.SC_frontCtn {
    width: 4px;
}

.upFile {
    display: none;
}




























