@charset "utf-8";
body, html {
    width: 100%;
    height: 100%;
}
/**/
.MN_kfImg {
    left: -55px;
}
.MN_khImg {
    right: -55px;
}
.MN_answer, .MN_ask {
    padding: 5px 60px;
}
.MN_answer .MN_kfImg, .MN_ask .MN_khImg {
    width: 40px;
    height: 40px;
}
.MN_kfCtn, .MN_khCtn {
    margin: 10px 0 0;
}
/**/
.view {
    width: 1rem;
    height: 98.5%;
    /* height: 100%; */
    margin: 0 auto;
    position: relative;
}
.back {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    /* background: #D6D6D6; */
}
.back p {
    color: #eee;
}
.back .logo {
    max-width: 1rem;
    max-height: 80px;
}

/**/
.front {
    /*height: 100%;*/
    position: relative;
    background:#f5f5f5;
}
.front .chatScroll {
    position: relative;
    overflow: hidden;

}
.lunbo{
    height: 0.05rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    background: #d05d58;
    width: 100%;
    z-index: 1;
}
.sound{
    display: inline-block;
    line-height: 0.05rem;
    margin-left: 0.04rem;
    float: left;
}
.sound img{
    width: 0.05rem;
    height: 0.04rem;
}
.relative{
    position: relative;
}
.closeAdv{
    display: inline-block;
    width: 0.04rem;
    height: 0.04rem;
    line-height: 0.04rem;
    margin-right: 6px;
    float: right;
}
.closeAdv img{
    width: 0.04rem;
    height: 0.04rem;
}
ul li {
    width: 100%;
    height: 0.05rem;
    line-height: 0.05rem;
    font-size: 0.04rem;
    color: #fff;
    text-align: left;
    padding-left: 0.12rem;
}
.front .chatScroll .chatCtn {
    padding: 0.04rem 0 10px 0;
    position: absolute;
    top: 0;
    left: 0;    
    background: #f5f5f5;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
/*头部*/
.front .header{
    height:0.14rem;
    line-height: 0.15rem;
    text-align: center;
    background:#fff;
    font-size: 15px;
    font-weight: bold;
}
.front .header .backQuit{
    position: absolute;
    left: 0;
    top: 0px;
}
.front .header img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.front .header .headName{
    color: #666;
    display: inline-block;
    width: 70%;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
/**
 * taskId=370;赵永平
 * 原因：在ios上键盘会遮住input输入框
 * 修改：采用fixed定位到底部，bottom为0
 */
 .editCtn {
  background: #fff;
  position: absolute;
  left: 0px;
  /* bottom: 0px; */
  /* top: 300px; */
  width: 100%;
}
.editCtn .editShow {
    position: relative;
    height: 0.136rem;
    /* border-top: 1px solid #e6e6e6; */
    /* border-bottom: 1px solid #e6e6e6; */
}
.editCtn .editShow:after {
    content: '';
    display: block;
    clear: both;
}
.editCtn .editShow .cosSome {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.editCtn .editShow .cosStyle {
    width: 15%;
    margin-top: 0.02rem;
}
.editCtn .editShow .cosStyle .goVideo {
    display: none;
    width: 0.075rem;
    height: 0.075rem;
    background: url(../images/voice@2x.png) no-repeat center;
    background-size: contain;

}
.editCtn .editShow .cosStyle .goinput {
    display: inline-block;
    width: 0.09rem;
    height: 0.09rem;
    background: url(../images/keyboard@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editShow .cosInput {
    width: 85%;
    margin-top: 0.021rem;
    
}
.editCtn .editShow .cosInput .textareaCtn {
    width:76%;
    display: inline-block;
    height:auto;
    margin-right: 8px;
    overflow: hidden;
}
.editCtn .editShow .cosInput .textareaCtn .textarea {
    width: 100%;
    height: 0.09rem;
    resize: none;
    outline: none;
    box-sizing: border-box;
    padding: 0.02rem 0.027rem;
    overflow: hidden;
    border: none;
    text-indent:10px;
    /* border-radius: 0.4rem; */
    background: #f5f5f5;
    float: left;
}
/*点击发送*/
.editCtn .editShow .cosBtn .sendMsg{
    float: right;
    width:100%;
    height: 0.09rem;
    line-height: 0.09rem;
    text-align: center;
    background: #f5f5f5;
    border-radius: 5px;
    margin:0.01rem 0.02rem 0 0;
    font-size:0.03rem;
}
.editCtn .editShow .cosInput .textareaCtn .faceBtn {
    position: absolute;
    top: 5px;
    right: 0;
    display: inline-block;
    width: 0.09rem;
    height: 0.09rem;
    background: url(../images/expression@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editShow .cosInput .textareaCtn .faceBtn_focus {
    background: url(../images/expression_click@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editShow .cosInput .inputBtn {
	width: 76%;
    height: 0.093rem;
    display: inline-block;
    line-height: 0.09rem;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-right: 8px;
}
.editCtn .editShow .cosBtn {
    width: 15%;
    margin-top: 0.012rem;
}
.editCtn .editShow .cosBtn .addbtn {
    display: inline-block;
    width: 0.09rem;
    height: 0.09rem;
    background: url(../images/add@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editShow .cosBtn .sendBtn {
    background: #1b96ff;
    color: #fff;
}
.editCtn .editHide {
    /*display: none;*/
    position: relative;
    height: 0.1rem;
    padding: 0 0.05rem;
    box-sizing: border-box;
}
.editCtn .editHide .editCtn_com {
    float: left;
    text-align: center;
    width: 20%;
    height: 100%;
}
.editCtn .editHide .takePhotoCtn,.editCtn .editHide .sendPicCtn  {
    display: none;
}
.editCtn .editHide .editCtn_com span {
    display: inline-block;
    width: 0.06rem;
    height: 0.06rem;
    /*margin: 0.16rem 0 0.05rem 0;*/
}
.editCtn .editHide .editCtn_com p {
    white-space: nowrap;
    font-size: 12px;
}
/*点击之前图标颜色*/
.editCtn .editHide .editCtn_com .sendPic {
    background: url(../images/sendPic@2x.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.editCtn .editHide .editCtn_com .takePhoto {
    background: url(../images/camera@2x.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.editCtn .editHide .editCtn_com .commonQue {
    background: url(../images/promble.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.editCtn .editHide .editCtn_com .feedback {
    background: url(../images/messageBack.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.editCtn .editHide .editCtn_com .leaveMsg {
    background: url(../images/message.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.editCtn .editHide .editCtn_com .sendVoice {
    background: url(../images/voice1@2x.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.editCtn .editHide .editCtn_com .sendCamera {
    background: url(../images/camera@2x.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.editCtn .editHide .editCtn_com .sendFile {
    background: url(../images/file@2x.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.editCtn .editHide .editCtn_com .sendFace {
    background: url(../images/face@2x.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.editCtn .editHide .editCtn_com .downloadCenter {
    background: url(../images/download.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.editCtn .editHide .editCtn_com .productSelect {
    background: url(../images/proChoose.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.downloadCtn a{
    text-decoration: none;
}
/*点击之后图标颜色变蓝*/
.editCtn .editHide .editCtn_com .sendPicClick {
    background: url(../images/sendPicClick@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .takePhotoClick {
    background: url(../images/cameraClick@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .commonQueClick {
    background: url(../images/prombleClick.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .feedbackClick {
    background: url(../images/messagebackClick.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .leaveMsgClick {
    background: url(../images/messageClick.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .sendVoiceClick {
    background: url(../images/voice1Click@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .sendCameraClick {
    background: url(../images/cameraClick@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .sendFileClick {
    background: url(../images/fileClick@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .sendFaceClick {
    background: url(../images/faceClick@2x.png) no-repeat center;
    background-size: contain;
}
.editCtn .editHide .editCtn_com .downloadCenterClick {
    background: url(../images/downloadClick.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}
.editCtn .editHide .editCtn_com .productSelectClick {
    background: url(../images/proChooseClick.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}

.layui-layer-ico {
    background: url(../images/icon.png) no-repeat;
}
.commonQueLayer {
    display: none;
}
.MN_queList, .MN_noQueList {
    padding: 0.024rem 0.032rem;
}
.MN_noQueList {
    text-align: center;
}
.feedbackLayer {
    display: none;
    padding: 0.024rem 0 0.048rem 0;
}
.MN_marginCtnRadio {
    margin-left: 0.032rem;
    margin-top: 0.032rem;
}
.noSatiCtn {
    padding: 0 0.032rem;
}
.noSatiCtn label {
    padding: 0 0.032rem;
}
.leaveMsgLayer {
    display: none;
    padding: 0.024rem 0 0.048rem 0;
}
.leaveMsgLayer input {
    width: 100%;
    height: 0.107rem;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin: 0.024rem 0;
    padding: 0 0.032rem;
}
.leaveMsgLayer textarea, .feedbackLayer textarea {
    margin: 0.024rem 0;
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 0.02rem 0.032rem;
    height: 0.213rem;
    box-sizing: border-box;
}
.MN_commentBtn {
    width: 0.936rem;
    height: 0.12rem;
    line-height: 0.12rem;
    margin: 0.024rem auto;
}
.layui-layer-title {
    padding: 0 80px 0 0.032rem;
    background: #fff;
}
.layui-layer-setwin {
    top: 0px;
    right: 0.032rem;
    padding: 12px 0px 12px 12px;
}
.layui-layer-page .layui-layer-content {
    background: #f8f8f8;
}

.SC_frontCtn {
    width: 4px;
}

.upFile {
    display: none;
}
/*body中时间设置*/
.MN_kftime,.MN_khtime{
    background: none;
    color: #666;
    margin:0 auto;
}
/*聊天背景*/
.MN_kfCtn, .MN_khCtn{
    border-radius: 14px;
}
/*聊天头像*/
.MN_answer .MN_kfImg, .MN_ask .MN_khImg{
    top:0;
}
.MN_kfTriangle2,.MN_kfTriangle1{
    top:5px;
    left:-13px;
}
.MN_khTriangle1,.MN_khTriangle2{
    top:5px;
    right:-13px;
}

.MN_kfCtn audio,.MN_kfCtn video{
    max-width:100%;
}

/* 语音 */
.editCtn .inputBtn{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.voiceBtn{
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    float: left;
    display: inline-block;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid #999;
}
.fa-rotate-45{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.voiceBtn i{
    font-size:16px;
    color:#999;
}
.record-shade{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    left: 0;
    top: 0;
}
.record-shade .icon-wrapper{
    position: relative;
    width:100px;
    height:auto;
    margin: 0 auto;
    text-align: center;
    top:40%;
}
.icon-wrapper .la-line-scale-pulse-out{
    margin: 0 auto 20px;
}
.icon-wrapper .fa-microphone{
    color: #fff;
    font-size:80px;
}
.record-shade .move-cancel{
    position: relative;
    width:100px;
    height:auto;
    text-align: center;
    margin: 0 auto;
    top: 40%;
    color:#fff;
}
.record-shade .move-cancel p{
    color:#fff;
    margin-top:20px;
    background: rgba(244, 32, 35, 0.6);
    padding: 5px;
    border-radius: 5px;
}
.record-shade .move-cancel i{
    font-size:80px;
}
.record-shade .record-tip{
    color: #fff;
    position: relative;
    width:150px;
    height:140px;
    font-size:18px; 
    padding-top:20px;
    border-radius: 5px;
    top: 40%;
    text-align: center;
    margin: 0 auto;
    background: rgba(0,0,0,0.5);
}
.record-shade .record-tip p{
    color: #fff;
    line-height: 30px;
}
.record-shade .record-tip i{
    font-size:80px;
}
.documentMore{
	text-align: center;
    color: #fff;
    cursor: pointer;
    background: #008CEE;
    width: 100px;
    border-radius: 20px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}
div.MN_docSearchCtn, div.MN_innerSearchCtn{
    padding:5px 0 !important;
}
iframe{
	display:none !important;
}
textarea{
	-webkit-appearance: none;
}